.cust-refresh-button {
    position: fixed;
    top: 75%;
    left: 93%;
}
.tabview-custom-remove {    
    background-color: antiquewhite !important;
}

.cust-icon-color {
    color: red;
    margin: 5px;
 }
